.notification{
position: relative;
font-size: 48px;
display: inline-block;
margin: 50px;
}
.badge{
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    color: white;
    border-radius: 100%;
    padding: 4px 8px;
    font-size: 14px;
    transform: translate(50%,-50%);
}