.ponytale p{
    display: inline-block;
    background-color: rgb(209, 137, 81);
    font-family: 'Pacifico', cursive;
    font-size: 14px;
}

#image {
    float: left;
    margin: 0 10px 10px 0;
    background-color: antiquewhite;
    padding: 4px;
    width: 100px;
}
p::first-letter{
    color: red;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}