.nav-menu a{
    color: black;
    letter-spacing: 0.06em;

}
.nav-menu a:hover{
    text-decoration: underline;
    color: red;
}
.nav-menu a:active{
    text-decoration: underline;
    color: blue;
}
    
.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}
.nav-menu li {
    margin: 0;
}