.article h1{
    text-align: center;
    color: #123456;
    font-weight: 800;
}
.article p{
    letter-spacing: 0.02em;
    line-height: 1.6;
    text-align: left;
}
.article blockquote{
    font-style: italic;
    color: #666666;
    margin-left: 20px;
    margin-right: 20px;
}