ul{
    font-family: sans-serif;
    list-style: none;
    margin: 0; 
    padding: 0;
}
li{
    background-color: rgba(179, 124, 124, 0.759);
 color: white;
 padding: 1rem;
 margin-bottom: 2px;
}
li:first-child{
    border-radius: 7px 7px; 
}
li:last-child{
    border-radius: 0 0 7px 7px;
}