main{
    font-family: Oswald, sans-serif;
    margin: 1rem 0;
    line-height: 2;
}
div{
    background-color: #F9E3B2; 
    padding: 3px 10px;
}
div:hover{
    background: yellow; color: green;
    border: 5px solid red;
}
div.background{transition-duration: 2s; transition-property: background;
}
div.all{transition: 2s;}
div {left: 0;
  height: 20px;
  width: 20px;
  position: relative;
  transition: 1s;}
  main:hover div{
    left: 300px;
  }
  .with{
    transition-timing-function: ease;
    transition-delay: 1s;
  }
  .all{ 
    transition-timing-function: linear;
    transition-delay: 2s;
  }
  .background{
    transition-timing-function: ease-in;
    transition-delay: 3s;
  }