a[href$=".pdf"]{
    color: red;
}
a[href$=".jpg"]{
    border: 2px solid  black;
}
a[href^="https"]{
    color: blue;
    text-decoration: underline;
}
a[href$=".text"]{
    color: green;
    font-weight: bold;
}
input[type="password"]{
    color: red;
}
input[required]{
    border:2px solid yellow 
}