.block{
    position: relative;
    background-color: #f0f0f0;
    width: 300px;
    height: 200px;
}
.w{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}