.message{
    background-color: green;
    font-style: italic;
}
.message::before{
    content: "✔";
    color: green;
    margin-right: 5px;

}
.message::after{
    content: "😊";
    margin-left: 5px;
}